quizzes

custom.sty

hw1_features/data
hw1_features/report
hw1_features/submission1

hw2_classification_foundation_models/data
hw2_classification_foundation_models/.idea

hw3_segmentation_and_homography/data